x-market-data-common: &market-data-common
  build: .
  restart: always
  profiles:
    - followers
  networks:
    - pm-net
  environment:
    SYMBOL: ${MARKET_SYMBOL:-BTCUSDT}
    ORDERBOOK_OUTPUT: ${ORDERBOOK_OUTPUT:-features}
    COINBASE_API_KEY: ${COINBASE_API_KEY:-}
    COINBASE_API_SECRET: ${COINBASE_API_SECRET:-}
    COINBASE_API_PASSPHRASE: ${COINBASE_API_PASSPHRASE:-}

services:
  nats:
    image: nats:2.10
    container_name: pm-market-data-nats
    command: ["-m", "8222"]
    ports:
      - "4222:4222"
      - "8222:8222"
    profiles:
      - infra
    networks:
      pm-net:
        aliases:
          - nats
    restart: unless-stopped

  binance-price:
    <<: *market-data-common
    command: ["binance-price", "-brokers", "nats://nats:4222"]

  binance-volume:
    <<: *market-data-common
    command: ["binance-volume", "-brokers", "nats://nats:4222"]

  binance-orderbook:
    <<: *market-data-common
    command: ["binance-orderbook", "-brokers", "nats://nats:4222", "-depth", "10"]

  bybit-price:
    <<: *market-data-common
    command: ["bybit-price", "-brokers", "nats://nats:4222"]

  bybit-volume:
    <<: *market-data-common
    command: ["bybit-volume", "-brokers", "nats://nats:4222"]

  bybit-orderbook:
    <<: *market-data-common
    command: ["bybit-orderbook", "-brokers", "nats://nats:4222"]

  bitget-price:
    <<: *market-data-common
    command: ["bitget-price", "-brokers", "nats://nats:4222"]

  bitget-volume:
    <<: *market-data-common
    command: ["bitget-volume", "-brokers", "nats://nats:4222"]

  bitget-orderbook:
    <<: *market-data-common
    command: ["bitget-orderbook", "-brokers", "nats://nats:4222", "-depth", "5"]

  okx-price:
    <<: *market-data-common
    command: ["okx-price", "-brokers", "nats://nats:4222"]

  okx-volume:
    <<: *market-data-common
    command: ["okx-volume", "-brokers", "nats://nats:4222"]

  okx-orderbook:
    <<: *market-data-common
    command: ["okx-orderbook", "-brokers", "nats://nats:4222", "-depth", "5"]

  coinbase-price:
    <<: *market-data-common
    command: ["coinbase-price", "-brokers", "nats://nats:4222"]

  coinbase-volume:
    <<: *market-data-common
    command: ["coinbase-volume", "-brokers", "nats://nats:4222"]

  coinbase-orderbook:
    <<: *market-data-common
    command: ["coinbase-orderbook", "-brokers", "nats://nats:4222", "-depth", "10"]

  kraken-price:
    <<: *market-data-common
    command: ["kraken-price", "-brokers", "nats://nats:4222"]

  kraken-volume:
    <<: *market-data-common
    command: ["kraken-volume", "-brokers", "nats://nats:4222"]

  kraken-orderbook:
    <<: *market-data-common
    command: ["kraken-orderbook", "-brokers", "nats://nats:4222", "-depth", "10"]

  chainlink-price:
    <<: *market-data-common
    command: ["chainlink-price", "-brokers", "nats://nats:4222"]

  coinbase-usdtusd:
    <<: *market-data-common
    profiles:
      - infra
    environment:
      SYMBOL: USDTUSD
      ORDERBOOK_OUTPUT: ${ORDERBOOK_OUTPUT:-features}
      COINBASE_API_KEY: ${COINBASE_API_KEY:-}
      COINBASE_API_SECRET: ${COINBASE_API_SECRET:-}
      COINBASE_API_PASSPHRASE: ${COINBASE_API_PASSPHRASE:-}
    command: ["coinbase-price", "-brokers", "nats://nats:4222", "-symbol", "USDTUSD"]

networks:
  pm-net:
    external: true
