version: "3.9"

x-market-data-common: &market-data-common
  build: ..
  restart: unless-stopped
  networks:
    - pm-market-data
  environment:
    SYMBOL: ${MARKET_SYMBOL:-BTCUSDT}
    COINBASE_API_KEY: ${COINBASE_API_KEY:-}
    COINBASE_API_SECRET: ${COINBASE_API_SECRET:-}
    COINBASE_API_PASSPHRASE: ${COINBASE_API_PASSPHRASE:-}

services:
  binance-price:
    <<: *market-data-common
    command: ["binance-price", "-brokers", "redpanda:9092"]

  binance-volume:
    <<: *market-data-common
    command: ["binance-volume", "-brokers", "redpanda:9092"]

  binance-orderbook:
    <<: *market-data-common
    command: ["binance-orderbook", "-brokers", "redpanda:9092"]

  bybit-price:
    <<: *market-data-common
    command: ["bybit-price", "-brokers", "redpanda:9092"]

  bybit-volume:
    <<: *market-data-common
    command: ["bybit-volume", "-brokers", "redpanda:9092"]

  bybit-orderbook:
    <<: *market-data-common
    command: ["bybit-orderbook", "-brokers", "redpanda:9092"]

  bitget-price:
    <<: *market-data-common
    command: ["bitget-price", "-brokers", "redpanda:9092"]

  bitget-volume:
    <<: *market-data-common
    command: ["bitget-volume", "-brokers", "redpanda:9092"]

  bitget-orderbook:
    <<: *market-data-common
    command: ["bitget-orderbook", "-brokers", "redpanda:9092"]

  okx-price:
    <<: *market-data-common
    command: ["okx-price", "-brokers", "redpanda:9092"]

  okx-volume:
    <<: *market-data-common
    command: ["okx-volume", "-brokers", "redpanda:9092"]

  okx-orderbook:
    <<: *market-data-common
    command: ["okx-orderbook", "-brokers", "redpanda:9092"]

  coinbase-price:
    <<: *market-data-common
    command: ["coinbase-price", "-brokers", "redpanda:9092"]

  coinbase-volume:
    <<: *market-data-common
    command: ["coinbase-volume", "-brokers", "redpanda:9092"]

  coinbase-orderbook:
    <<: *market-data-common
    command: ["coinbase-orderbook", "-brokers", "redpanda:9092"]

  kraken-price:
    <<: *market-data-common
    command: ["kraken-price", "-brokers", "redpanda:9092"]

  kraken-volume:
    <<: *market-data-common
    command: ["kraken-volume", "-brokers", "redpanda:9092"]

  kraken-orderbook:
    <<: *market-data-common
    command: ["kraken-orderbook", "-brokers", "redpanda:9092"]

  chainlink-price:
    <<: *market-data-common
    command: ["chainlink-price", "-brokers", "redpanda:9092"]

networks:
  pm-market-data:
    external: true
